PROJECT_ENVIRONMENT=DEVELOPMENT
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000

# Database Configuration
MONGO_URI=mongodb://localhost:27017
DB_NAME=sharexpress_cloud

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT RS256
JWT_ALGORITHM=RS256
JWT_EXPIRES=7

# OAuth Credentials
GOOGLE_CLIENT_ID=mock-google-client-id
GOOGLE_CLIENT_SECRET=mock-google-client-secret

GITHUB_CLIENT_ID=mock-github-client-id
GITHUB_CLIENT_SECRET=mock-github-client-secret

GITLAB_CLIENT_ID=mock-gitlab-client-id
GITLAB_CLIENT_SECRET=mock-gitlab-client-secret

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=noreply@sharexpress.in
SMTP_FROM_NAME=Sharexpress Cloud
